package server

import (
	"context"
	"fmt"

{{if (eq .DB "sqlite")}}
  "database/sql"
	"log/slog"
{{else  if (eq .DB "postgres")}}
	"github.com/jackc/pgx/v5/pgxpool"
{{end}}

)

{{if (eq .DB "sqlite")}}
func (app *Application) startDBConnection(ctx context.Context) error {
	sqliteDBPath, err := app.GetConfigValueString("SQLITE_PATH")
	if err != nil {
		return fmt.Errorf("unable to get SQLITE_PATH env. variable: %w", err)
	}

	app.db, err = sql.Open("sqlite", sqliteDBPath)
	if err != nil {
		return fmt.Errorf("unable to establish a connection with DB: %w", err)
	}

	if err := app.db.PingContext(ctx); err != nil {
		return fmt.Errorf("unable to ping db: %w", err)
	}

	journalMode, err := setStringPragma(ctx, "journal_mode", "WAL", app.db)
	if err != nil {
		return fmt.Errorf("unable to set PRAGMA: %w", err)
	}
	if journalMode != "wal" {
		return fmt.Errorf("sqlite is not running in WAL mode")
	}

	synchronousNormalSet, err := setBooleanPragma(ctx, "synchronous", "normal", app.db)
	if err != nil {
		return fmt.Errorf("unable to set PRAGMA: %w", err)
	}
	if !synchronousNormalSet {
		return fmt.Errorf("sqlite is not running in normal synchronous mode")
	}

	foreignKeysSet, err := setBooleanPragma(ctx, "foreign_keys", "ON", app.db)
	if err != nil {
		return fmt.Errorf("unable to set foreign_keys PRAGMA: %w", err)
	}
	if !foreignKeysSet {
		return fmt.Errorf("unable to run DB connection on foreign_keys mode")
	}

	app.InfoLog.Info("successfully pinged sqlite3 db",
		slog.String("sqlite_file_path", sqliteDBPath),
		slog.String("journal_mode", journalMode),
		slog.Bool("synchronous_normal_mode", synchronousNormalSet),
		slog.Bool("foreign_keys", foreignKeysSet))
	return nil
}

func setBooleanPragma(ctx context.Context, key, value string, db *sql.DB) (bool, error) {
	row, err := executePragmaQuery(ctx, key, value, db)
	if err != nil {
		return false, fmt.Errorf("unable to execute pragma query: %w", err)
	}
	var rowValue int
	err = row.Scan(&rowValue)
	if err != nil {
		return false, fmt.Errorf("unable to scan %s PRAGMA: %w", key, err)
	}
	var pragmaValue bool
	if rowValue == 1 {
		pragmaValue = true
	}
	return pragmaValue, nil
}

func setStringPragma(ctx context.Context, key, value string, db *sql.DB) (string, error) {
	row, err := executePragmaQuery(ctx, key, value, db)
	if err != nil {
		return "", fmt.Errorf("unable to execute pragma query: %w", err)
	}
	var pragmaValue string
	err = row.Scan(&pragmaValue)
	if err != nil {
		return "", fmt.Errorf("unable to scan %s PRAGMA: %w", key, err)
	}
	return pragmaValue, nil
}

func executePragmaQuery(ctx context.Context, key, value string, db *sql.DB) (*sql.Row, error) {
	query := fmt.Sprintf("PRAGMA %s = %s;", key, value)
	_, err := db.ExecContext(ctx, query)
	if err != nil {
		return nil, fmt.Errorf("unable to set %s PRAGMA: %w", key, err)
	}

	return db.QueryRowContext(ctx, "PRAGMA "+key+";"), nil
}
{{else  if (eq .DB "postgres")}}
func (app *Application) startDBConnection(ctx context.Context) error {
	dbConnString, err := app.GetConfigValueString("DB_CONN_STRING")
	if err != nil {
		return fmt.Errorf("unable to get DB_CONN_STRING env. variable: %w", err)
	}

	app.db, err = pgxpool.New(ctx, dbConnString)
	if err != nil {
		return fmt.Errorf("could not establish database connection pool: %w", err)
	}
	err = app.db.Ping(ctx)
	if err != nil {
		return fmt.Errorf("database is unreachable: %w", err)
	}

	app.InfoLog.Info("Successfully pinged postgres db")
  return nil
}
{{end}}


