package server

import (
	"context"
	"fmt"

{{if (eq .DB "sqlite")}}
  "database/sql"
	"log/slog"
{{else  if (eq .DB "postgres")}}
	"github.com/jackc/pgx/v5/pgxpool"
{{end}}

)

{{if (eq .DB "sqlite")}}
func (app *Application) startDBConnection(ctx context.Context) error {
	sqliteDBPath, err := app.GetConfigValueString("SQLITE_PATH")
	if err != nil {
		return fmt.Errorf("unable to get SQLITE_PATH env. variable: %w", err)
	}

	app.db, err = sql.Open("sqlite", sqliteDBPath)
	if err != nil {
		return fmt.Errorf("unable to establish a connection with DB: %w", err)
	}

	if err := app.db.PingContext(ctx); err != nil {
		return fmt.Errorf("unable to ping db: %w", err)
	}

	journalModeRow := app.db.QueryRowContext(ctx, "PRAGMA journal_mode = WAL;")
	var journalMode string
	err = journalModeRow.Scan(&journalMode)
	if err != nil {
		return fmt.Errorf("unable to scan journal_mode PRAGMA: %w", err)
	}
	if journalMode != "wal" {
		return fmt.Errorf("sqlite is not running in WAL mode")
	}

	_, err = app.db.ExecContext(ctx, "PRAGMA foreign_keys = ON;")
	if err != nil {
		return fmt.Errorf("unable to set foreign_keys mode: %w", err)
	}

	foreignKeysRow := app.db.QueryRowContext(ctx, "PRAGMA foreign_keys;")
	var foreignKeysValue int
	err = foreignKeysRow.Scan(&foreignKeysValue)
	if err != nil {
		return fmt.Errorf("unable to scan foreign_keys PRAGMA: %w", err)
	}
	var foreignKeys bool
	if foreignKeysValue == 1 {
		foreignKeys = true
	} else {
		return fmt.Errorf("unable to run DB connection on foreign_keys mode")
	}

	app.InfoLog.Info("successfully pinged sqlite3 db",
		slog.String("sqlite_file_path", sqliteDBPath),
		slog.String("journal_mode", journalMode),
		slog.Bool("foreign_keys", foreignKeys))
	return nil
}
{{else  if (eq .DB "postgres")}}
func (app *Application) startDBConnection(ctx context.Context) error {
	dbConnString, err := app.GetConfigValueString("DB_CONN_STRING")
	if err != nil {
		return fmt.Errorf("unable to get DB_CONN_STRING env. variable: %w", err)
	}

	app.db, err = pgxpool.New(ctx, dbConnString)
	if err != nil {
		return fmt.Errorf("could not establish database connection pool: %w", err)
	}
	err = app.db.Ping(ctx)
	if err != nil {
		return fmt.Errorf("database is unreachable: %w", err)
	}

	app.InfoLog.Info("Successfully pinged postgres db")
  return nil
}
{{end}}


