package views

var (
	grey30       = "hsl(0, 0%, 30%)"
	grey40       = "hsl(0, 0%, 40%)"
	grey45       = "hsl(0, 0%, 45%)"
	mainBgColor  = "hsl(220, 24%, 10%)"
	generalColor = "hsl(219, 13%, 79%)"
	h1Color      = "hsl(220, 11%, 95%)"
)
