// Package handlers handles the implementation of the controllers.
package handlers

import (
{{if (eq .DB "sqlite")}}
	"database/sql"
{{else  if (eq .DB "postgres")}}
	"github.com/jackc/pgx/v5/pgxpool"
{{end}}
	"log/slog"

	"github.com/alexedwards/scs/v2"
	"{{.ModuleName}}/internal/state"
)

type Handlers struct {
	infoLog  *slog.Logger
	errorLog *slog.Logger
	sm       state.StateManager
	sessionManager *scs.SessionManager
}

// NewHandlers creates a struct that contains all handlers of the application.
{{if (eq .DB "sqlite")}}
func NewHandlers(infoLog, errorLog *slog.Logger, db *sql.DB, sessions *scs.SessionManager) *Handlers {
{{else  if (eq .DB "postgres")}}
func NewHandlers(infoLog, errorLog *slog.Logger, db *pgxpool.Pool, sessions *scs.SessionManager) *Handlers {
{{end}}
	handlers := new(Handlers)
	handlers.infoLog = infoLog
	handlers.errorLog = errorLog
	handlers.sm = *state.NewStateManager(db)
  handlers.sessionManager = sessions

	return handlers
}
