package colors

var (
	Grey30       = "hsl(0, 0%, 30%)"
	Grey40       = "hsl(0, 0%, 40%)"
	Grey45       = "hsl(0, 0%, 45%)"
	MainBgColor  = "hsl(220, 24%, 10%)"
	GeneralColor = "hsl(219, 13%, 79%)"
	H1Color      = "hsl(220, 11%, 95%)"
)
