export PORT=":8080"
export ENVIRONMENT="dev"
{{if (eq .DB "sqlite")}}
export SQLITE_PATH="./db/database.sqlite3"
{{else  if (eq .DB "postgres")}}
export DB_USER="postgres"
export DB_NAME="{{.MainName}}"
export DB_CONN_STRING="postgres://${DB_USER}@localhost:5432/${DB_NAME}?sslmode=disable"
{{end}}
